NEXT_PUBLIC_CLIENT_DASHBOARD=http://localhost:3001
NEXT_PUBLIC_CLIENT_LANDING_PAGE=http://localhost:3000
NEXT_PUBLIC_FREELANCER_DASHBOARD=http://localhost:3002
NEXT_PUBLIC_SERVER_URL=http://localhost:8080